.section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.header-class{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.img-class{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.button-submit{
    margin-top: 1rem;
    width: 60%;
    height: 20%;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}